/*=================*/
/* Utility Classes */
/*=================*/
.bg-red{
  background-color: var(--pink-red);
}

.bg-white{
  background-color: white;
}

.grey-text{
  color: rgb(109, 108, 108);
}

.fullwidth{
  width: 100%;
}

.bold{
  font-weight: bold;
}

input{
  cursor: pointer;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="number"]:hover, input[type="email"]:hover{
  animation: bounce-horizontal 500ms ease-in-out
}

.text-input{
  padding: calc(var(--base-padding) / 1.2) calc(var(--base-padding));
  border: 1px solid var(--green);
  outline: none;
  transition: outline 400ms;
  margin: 0 auto;
  margin-bottom: var(--base-margin);
  font-size: 0.95em;
  background-color: var(--black);
  color: var(--light-green)
}

.text-input::placeholder{
  color: var(--green) !important;
}

.text-input:focus{
  outline: 2px solid var(--light-green);
}

.centralize{
  text-align: center;
}

.btn{
  border-radius: 0.2em;
  padding: calc(var(--base-padding) / 1.5) calc(var(--base-padding) * 2);
  border: none;
  font-size: 1.1em;
  cursor: pointer;
}



/*====================*/
/* Animations Section */
/*====================*/
@keyframes bounce-horizontal  {
  50%{
    width: 93%;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red; }
}



/*===================*/
/* Main Page Content */
/*===================*/
body > div.page_container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

div.page_container > div.page_left_container{
  background: url(../../assets/login/images/hacky.gif);
}

div.page_container > div.page_left_container > div.page_left{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: calc(var(--base-padding) * 2);
  background-color: rgba(0,0,0,0.8);
  color: var(--light-green);

}

div.page_left > div.page_left_content{
  width: 100%;
  max-width: 600px;
  min-width: 500px;
}

div.page_left_content > h1{
  font-size: 3em;
  overflow: hidden; 
  border-right: .1em solid orange;
  white-space: nowrap; 
  max-width: max-content !important;
  animation: 
    typing 3.8s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

div.page_left_content > p.subtitle{
  margin-bottom: calc(var(--base-margin) * 4);
}

form > div.form_top_content {
  display: grid;
  gap: calc(var(--base-gap) / 2);
  grid-template-columns: 3fr 2fr;
}

div.form_top_content > label > p{
  margin-bottom: 0.2em;
  color: orange;
}

div.form_top_content > label > input{
  width: 100% !important;
}

div.page_left_content > form > label > p{
  margin-bottom: 0.3em;
  color: orange;
}

div.page_left_content > form > div.actions{
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--base-margin) * 2);
}

form > div.actions > label{
  display: flex;
  gap: var(--base-gap);
  align-items: center;
}

form > div.buttons_container{
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap));
  justify-content: center; 
}

form > div.buttons_container > a{
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  animation:  bounce-horizontal 1s ease-in-out infinite;
}

form > div.buttons_container > button:nth-of-type(1){
  background-color: white;
  border: 2px solid var(--outline);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form > div.buttons_container > button:nth-of-type(1):hover{
  animation: bounce-horizontal 500ms ease-in-out
}

form > div.buttons_container > button:nth-of-type(1) > img{
  height: 30px;
}


/*====================*/
/* Page Right Section */
/*====================*/
div.page_container > div.page_right{
  background: linear-gradient(135deg, #134e5e, #71b280);
}




/*================================*/
/* Media Query For Mobile Devices */
/*================================*/
@media (max-width: 750px){
  .text-input{
    margin-bottom: unset;
  }

  body > div.page_container{
    grid-template-columns: 1fr;
  }

  div.page_left > div.page_left_content{
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  div.page_left_content > h1{
    font-size: 2.5em;
  }

  div.page_container > div.page_right{
    display: none;
  }
}