/*=================*/
/* Utility Classes */
/*=================*/
.bg-red{
  background-color: var(--pink-red);
}

.bg-white{
  background-color: white;
}

.grey-text{
  color: rgb(109, 108, 108);
}

.fullwidth{
  width: 100%;
}

.bold{
  font-weight: bold;
}

input{
  cursor: pointer;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="number"]:hover, input[type="email"]:hover{
  animation: bounce-horizontal 500ms ease-in-out
}

.text-input{
  padding: calc(var(--base-padding) / 1.2) calc(var(--base-padding));
  /* border-radius: 0.5em; */
  border: 1px solid var(--green);
  outline: none;
  transition: outline 400ms;
  margin: 0 auto;
  margin-bottom: var(--base-margin);
  font-size: 0.95em;
  background-color: var(--black);
}

.text-input::placeholder{
  color: var(--green) !important;
}

.text-input:focus{
  outline: 2px solid var(--light-green);
}

.text-input:hover{
  /* animation: bounce-horizontal 500ms ease-in-out */
}

.centralize{
  text-align: center;
}

.btn{
  border-radius: 0.5em;
  padding: calc(var(--base-padding) / 1.5) calc(var(--base-padding) * 2);
  border: none;
  font-size: 1.1em;
  cursor: pointer;
}



/*====================*/
/* Animations Section */
/*====================*/
@keyframes typing {
  0%{
    width: 0px
  }
  100%{
    width: 200px;
  }
}

@keyframes blink-border {
  0%{
    border-right: none;
  }
  100%{
    border-right: 2px solid black;
  }
}

@keyframes boounce-heading {
  0%{
    opacity: 100%;
    transform: translateY(0px);    
  }
  14%{
    transform: translateY(0px);
    transform: translateY(-10px);
  }
  16%{
    transform: translateY(20px);
    transform: translateX(0px);
  }
  18%{
    transform: translateY(-40px);
  }
  20%{
    transform: translateY(20px);
  }
  22%{
    transform: translateY(-40px);
  }
  25%{
    transform: translateY(0px);
  }
  79%{
    transform: translateY(-20px);
  }
  83%{
    transform: translateY(-400px);
    opacity: 100%;
  }
  83.1%{
    transform: translateX(600px);
    opacity: 0%;
  }
}

@keyframes bounce-horizontal {
  50%{
    width: 80%;
  }
  70%{
    width: 100%;
  }
  90%{
    width: 93%;
  }
}


/*===================*/
/* Main Page Content */
/*===================*/
body > div.page_container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

div.page_container > div.page_left{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--base-padding) * 2);
  background-color: var(--light-black);
  color: var(--light-green);
}

div.page_left > div.page_left_content{
  width: 100%;
  max-width: 600px;
  min-width: 500px;
}

div.page_left_content > h1{
  font-size: 3em;
  animation: boounce-heading 10s ease-out infinite;
}

div.page_left_content > p.subtitle{
  margin-bottom: calc(var(--base-margin) * 4);
}

form > div.form_top_content {
  display: grid;
  gap: calc(var(--base-gap) / 2);
  grid-template-columns: 3fr 2fr;
}

div.form_top_content > label > p{
  margin-bottom: 0.2em;
}

div.form_top_content > label > input{
  width: 100% !important;
  /* background-color: green; */
}

div.page_left_content > form > label > p{
  margin-bottom: 0.3em;
}

div.page_left_content > form > div.actions{
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--base-margin) * 2);
}

form > div.actions > label{
  display: flex;
  gap: var(--base-gap);
  align-items: center;
}

form > div.buttons_container{
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap));
  justify-content: center; 
}

form > div.buttons_container > a{
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

form > div.buttons_container > a:hover{
  animation: bounce-horizontal 500ms ease-in-out
}


form > div.buttons_container > button:nth-of-type(1){
  background-color: white;
  border: 2px solid var(--outline);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form > div.buttons_container > button:nth-of-type(1):hover{
  animation: bounce-horizontal 500ms ease-in-out
}

form > div.buttons_container > button:nth-of-type(1) > img{
  height: 30px;
}


/*====================*/
/* Page Right Section */
/*====================*/
div.page_container > div.page_right{
  background: linear-gradient(135deg, #c33764, #1d2671);
}




/*================================*/
/* Media Query For Mobile Devices */
/*================================*/
@media (max-width: 750px){
  .text-input{
    margin-bottom: unset;
  }

  body > div.page_container{
    grid-template-columns: 1fr;
  }

  div.page_left > div.page_left_content{
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  div.page_left_content > h1{
    font-size: 2.5em;
  }

  div.page_container > div.page_right{
    display: none;
  }
}