/* ============ */
/* Global Rules */
/* ============ */
*::-webkit-scrollbar{
  display: none;
}

button{
  cursor: pointer;
}

*{
  /* outline: 1px dashed white; */
}




/* ============================== */
/* Beginning of Dashboard Section */
/* ============================== */
main.dashboard_body{
  height: 100vh;
  /* background-color: var(--light-black); */
  background-image: url(../../../public/assets/dashboard/binary_ish.png);
  background-size: contain;
  background-repeat: no-repeat;
}

div.main_content{
  padding: 2em;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
}
main.dashboard_body{
  height: max-content;
  background-color: var(--light-black);
  background-image: url(../../../public/assets/dashboard/binary_ish.png);
  background-size: contain;
  background-repeat: no-repeat;
}
div.main_content > *{
  max-width: 980px;
}





/* ========================== */
/* Beginning Of Title Section */
/* ========================== */
div.main_content > div.logo_container > h1{
  color: var(--light-green);
  margin: 0 auto;
  text-align: center;
  width: calc(100vw - 2em)
}






/* ============================= */
/* Beginning Of Buttons Section */
/* ============================= */
div.action_buttons{
  margin: 3em auto;
}

div.action_buttons > div.buttons_container{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

div.action_buttons > div.buttons_container > button{
  padding: 1em 1.6em;
  background-color:black;
  border: 1px solid var(--light-green);
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bold;
  color: var(--light-green);
  transition: all 400ms;
}

div.action_buttons > div.buttons_container > button:hover{
  border: 1px solid black;
  background-color: var(--light-green);
  color: black;
}




/*==============================*/
/* Beginning of Console Section */
/*==============================*/
div.main_content > div.console{
  margin: 2em auto;
}

div.main_content > div.console > h3{
  text-align: left;
}

div.main_content > div.console > div.console_screen{
  height: 50vh;
  width: 100%;
  background-color: white;
  font-family: monospace;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.7em;
  overflow-y: scroll;
  padding: 0.5em 1em;
  border-left: 4px solid var(--pink-red);
  background-color: rgb(20, 20, 20);
  color: white;
}

div.console > div.console_screen > p{
  margin: 0;
}





/*=============================*/
/* Beginning of Bottom Section */
/*=============================*/
div.main_content > div.bottom{
  width: 100%;
  
}

div.bottom > div.bottom_container{
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

div.bottom > div.bottom_container > *{
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
}

div.bottom > div.bottom_container > input{
  border: 1px solid silver;
}

div.bottom > div.bottom_container > input:focus{
  outline: 2px solid silver;
}

div.bottom > div.bottom_container > button{
  background-color: #1c8fd1;
  color: white;
}




/*=====================*/
/* Upload File Section */
/*=====================*/
section.upload_file{
  margin: 0 auto;
  text-align: center;
}

form.file_upload_form{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  color: var(--light-green);
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--light-green);
  padding: 1em 0.5em;
  margin: 0 auto;
}

form.file_upload_form p{
  margin: 0.1em 0;
  color: orange;
}

form.file_upload_form > label input{
  max-width: 180px;
}





/*================================*/
/* Media Query For Mobile Devices */
/*================================*/
@media (max-width: 770px){
  div.main_content{
    padding: 1.5em;
  }
  main{
    height: unset;
  }

  main.dashboard_body{
    background-size: unset;
  }
  
  div.action_buttons > div.buttons_container > button{
    font-size: 0.9em;
  }

  div.action_buttons > div.buttons_container > *{
    width: 45%;
  }

  div.bottom > div.bottom_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    border: none;
  }

  form.file_upload_form {
    flex-direction: column;
  }
}