*::-webkit-scrollbar{
  display: none;
}

main.dashboard_body{
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; */
  /* background: linear-gradient(to left, #d38312, #a83279); */
  /* background: linear-gradient(tomato 1%, rgb(255, 255, 255), rgb(255, 255, 255) 60%); */
  /* background-color: rgb(253, 246, 234); */
  /* background-color: rgb(253, 246, 234); */

  height: 100vh ;
  background-color: var(--light-black);
  /* background-color: black; */
  background-image: url(../../../public/assets/dashboard/binary_ish.png);
  /* background-size: 150%; */
  /* background-size: 100vh; */
  background-repeat: no-repeat;
}

button{
  cursor: pointer;
}

div.main_content{
  padding: 2em;
  max-width: 980px;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  /* box-shadow: 2px 2px 10px rgba(0,0,0,0.4); */
}


div.main_content > div.logo_container > h1{
  /* color: rgb(2, 2, 87) */
  color: var(--light-green)
}

div.action_buttons{
  margin: 3em 0;
  /* display: flex; */
  /* justify-content: center; */
}

div.action_buttons > div.buttons_container{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

div.action_buttons > div.buttons_container > button{
  padding: 1em 1.6em;
  /* background-color: rgb(70, 80, 225); */
  background-color:black;
  border: 1px solid var(--light-green);
  /* border: none; */
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bold;
  color: var(--light-green);
  transition: all 400ms;
}

div.action_buttons > div.buttons_container > button:hover{
  border: 1px solid black;
  background-color: var(--light-green);
  color: black;
}




/*=================*/
/* Console Section */
/*=================*/
div.main_content > div.console{
  margin: 2em auto;
  
  /* max-width: 900px; */
  
}

div.main_content > div.console > h3{
  text-align: left;
}

div.main_content > div.console > div.console_screen{
  height: 50vh;
  width: 100%;
  background-color: white;
  /* border: 1px solid var(--green); */
  font-family: monospace;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.7em;
  overflow-y: scroll;
  padding: 0.5em 1em;
  border-left: 4px solid var(--pink-red);
  background-color: rgb(20, 20, 20);
  color: white;
}

div.console > div.console_screen > p{
  margin: 0;
}





/*================*/
/* Bottom Section */
/*================*/
div.main_content > div.bottom{
  width: 100%;
  
}

div.bottom > div.bottom_container{
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  /* border: 1px solid grey; */
  padding: 1em 0;
  /* background: linear-gradient(to left, #134e5e, #71b280); */
}

div.bottom > div.bottom_container > *{
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
}

div.bottom > div.bottom_container > input{
  border: 1px solid silver;
}

div.bottom > div.bottom_container > input:focus{
  outline: 2px solid silver;
}

div.bottom > div.bottom_container > button{
  background-color: #1c8fd1;
  color: white;
}






/*================================*/
/* Media Query For Mobile Devices */
/*================================*/
@media (max-width: 770px){
  div.main_content{
    padding: 1.5em;
  }
  main{
    height: unset;
  }
  
  div.action_buttons > div.buttons_container > button{
    /* padding: 1em 1.3em; */
    font-size: 0.9em;
  }

  div.action_buttons > div.buttons_container > *{
    width: 45%;
  }

  div.bottom > div.bottom_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    border: none;
  }
}