body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





:root{
  --base-padding: 1em;
  --base-margin: 1em;
  --base-border-radius: 10px;
  --base-gap: 1em;
  --light-blue: rgb(11, 125, 196);
  --lighter-blue: rgb(20, 152, 235);
}

*{
  box-sizing: border-box;
}

/* *::-webkit-scrollbar{
  display: none;
} */


/*============*/
/* Animations */
/*============*/
@keyframes fade-in{
  0%{
    opacity: 0%;
    transform: translateY(100%);
  }
  100%{
    opacity: 100%;
    transform: translateY(0%);

  }
}

@keyframes fade-out{
  0%{
    /* opacity: 100%; */
    transform: translateY(0%);

  }
  100%{
    /* opacity: 0%; */
    transform: translateY(100%);
  }
}



.hidden{
  /* animation: fade-out 500ms; */
  display: none;
}

/* .fade-out{
  animation: fade-out 500ms;
} */

.not-hidden{
  display: unset;
}